/*---css cdn fallback---*/

.css-cdn-fallback {
  width: 0;
  height: 0;
  visibility: hidden;
}


/*---end---*/


@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.dn {
  display: none !important;
}

.vh {
  visibility: hidden !important;
}

body {
  font-family: Roboto;
}

.gaosiBlur {
  filter: blur(20px) drop-shadow(0px 40px 0);
  -webkit-filter: blur(20px) drop-shadow(0px 40px 0);
  -moz-filter: blur(20px) drop-shadow(0px 40px 0);
  -o-filter: blur(20px) drop-shadow(0px 40px 0);
  -ms-filter: blur(20px) drop-shadow(0px 40px 0);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='20') drop-shadow(0px 40px 0);
}


/*----------header begin----------*/

.language a {
  vertical-align: sub;
  margin-right: 10px;
}

.language img {
  width: 30px;
}

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}

.header .container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.logo {
  display: inline-block;
}

.logo a {
  display: block;
  width:100px;
  height:50px;
  background: url(../img/APIPNG.png) no-repeat;
  background-size: 100%;
}

.nav {
  float: right;
  padding-top: 15px;
}

.nav li {
  float: left;
  margin-left: 30px;
}

.nav .active {
  border-bottom: 2px solid #19b8b4;
  padding-bottom: 8px;
}
/*----------header end----------*/


/*----------footer begin----------*/

.footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  text-align: center;
  background:linear-gradient(#131a27, #35314a);
  box-shadow: 0 -1px 10px #eee;
}

.footer .container {
  width: 90%;
  margin: 0 auto;
}

.footer .logo {
  width: 100px;
  height: 50px;
  background: url(../img/API2PNGWHITE.png) no-repeat;
  background-size: 100%;
  vertical-align: bottom;
}

.footer p {
  display: inline-block;
  margin: 12px;
}
.more{
  display: inline-block;
  margin-top: 200px;
}
.more>a{
  transition: all 1s;
}
.more:hover a{
  color: gray;
}


/*----------footer end----------*/


/*----------fullpage begin----------*/


/*---page about begin---*/

.loading-div {
  width: 1920px;
  height: 1080px;
}

.wrap {
  text-align: center;
  min-width: 1000px;
}

.left-image,
.right-image {
  display: inline-block;
  vertical-align: top;
}

.page-about article[lang="zh"] {
  line-height: 2;
}

.page-about .left-image {
  opacity: 0;
  animation: moveRight .5s cubic-bezier(.83, 1.68, .26, .85) .3s forwards;
}

.page-about .text-logo {
  width: 400px;
}

.page-about .right-text {
  width: 640px;
  margin-top: 10px;
  max-width: 800px;
  opacity: 0;
  animation: moveLeft .5s cubic-bezier(.83, 1.68, .26, .85) .3s forwards;
  text-align: left;
  margin-left: 10px;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.left-text,.right-text,.divider {
  display: inline-block;
}

h1 {
  font-size: 40px;
}

article {
  line-height: 1.5;
}

.founder-wrap {
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
}

.founder {
  opacity: 0;
  animation: moveUp .5s cubic-bezier(.83, 1.68, .26, .85) .3s forwards;
}

.founder li {
  float: left;
}

.founder li:first-child {
  margin-right: 50px;
}

.founder img {
  width: 150px;
}

.founder p {
  line-height: 1.5;
}


/*---page about end---*/


/*---page product begin---*/

.headline {
  color: #2df6cc;
}
.page-product .headline{
  font-family: Arial;
  font-size: 36px;
  white-space: nowrap;
}

.page-product p {
  line-height: 1.7;
}

.page-product .product-information{
  text-align: left;
  margin-top: 60px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.page-product .fp-tableCell {
  vertical-align: bottom;
  padding-bottom: 45px;
}

.fadeInOut {
  animation-name: fadeOut;
}

.slideAnim .fadeInOut {
  animation-delay: .3s;
  animation-name: fadeInUpBig;
}

.fadeInOut2 {
  animation-name: fadeOut;
}

.slideAnim .fadeInOut2 {
  animation-delay: .3s;
  animation-name: fadeInDownBig;
}

.zoomInOut {
  animation-name: zoomOut;
}

.slideAnim .zoomInOut {
  animation-name: zoomIn;
  animation-delay: .3s;
}

.product-1-1 {
  width: 510px;
}

.page-product .left-text,
.page-product .right-text {
  width: 300px;
  position: relative;
  margin-top: 50px;
}

.page-product .left-text {
  margin-right: 40px;
}

.page-product .right-text {
  margin-left: 40px;
  font-size: 17px;
}

.img-logo {
  width: 150px;
  margin-bottom: 25px;
}
.product-2 .wrap .right-text{
  margin-bottom: 60px;
}
.product-2-1{
  width: 630px;
  margin-top: 60px;
}

.slideAnim .product-2-anim {
  animation-name: fadeInUp;
  animation-delay: .3s;
}

.product-3-1 {
  width: 680px;
  margin-bottom: 65px
}

.product-4-1 {
  width: 670px;
}
.product-4 .right-text{
  margin-bottom: 25px;
}

.product-5-1 {
  width: 500px;
  margin-right: 50px;
}
.product-6 .right-text{
  margin-left: 80px;
}
.product-6-1 {
  width: 400px;
}
.product-7 .wrap>main>.right-text{
  margin-top: -20px;
}
.product-7-1 {
  width: 515px;
}

.product-8-1 {
  width: 555px;
  margin-top: 70px;
  margin-right: 40px;
}

.product-9-1 {
  width: 520px;
  margin-top: 67px;
}
.product-10-1 {
  width: 500px;
}

.flipInOut {
  animation-name: flipOutY;
}

.slideAnim .flipInOut {
  animation-delay: .7s;
  animation-name: flipInY;
}
/*---page product end---*/
/*---page career begin---*/
.joinus{
  font-family: Arial-MT;
  font-size: 36px;
  color: white;
}
.joinus + article{
  width: 1010px;
  height: 60px;
  font-family: ArialMT;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.career-name{
  margin-top: 70px;
}
.career-name>a{
  display: inline-block;
  width: 320px;
  height: 40px;
  border: 2px solid #23ebd8;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.career-name>a:hover{
  opacity: .5;
}
.career-name>a>span{
  font-family: Arial-MT;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #32eece;
  line-height: 40px;
}
.career-head{
  width: 83%;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 28px;
}
.career-head h2{
  height: 50px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: bold;
  text-align: right;
}
.career-head p{
  font-family: Roboto;
  font-size: 36px;
  color: #ffffff;
}
.career-head p img{
  width: 35px;
}
.career-head p span{
  font-weight: bold;
}
.page-career .left-text{
  width: 510px;
  vertical-align: top;
  margin-right: 32px;
}
.page-career .left-text>p,
.page-career .right-text>p{
  font-family: Arial;
  font-size: 17px;
  text-align: left;
  color: #ffffff;
}
.page-career .left-text p:before,
.page-career .right-text p:before{
  content: "•";
  margin-right: 12px;
}
.career-r{
  font-family: Muli;
  font-size: 27px;
  font-weight: 900;
  color: #32eece;
  margin-bottom: 25px;

}
.career-r-2{
  margin-bottom: 19px;
}
.divider{
  width: 3px;
  height: 320px;
  background: white;
}
.pro-divider{
  height: 332px;
}
.senior-divider{
  height: 390px;
}
.junior-divider{
  height: 350px;
}
.ui-divider{
  height: 395px;
}
.ios-divider{
  height: 312px;
}
.Finance-divider{
  height: 355px;
}
.page-career .right-text{
  display: inline-block;
  width: 450px;
  vertical-align: top;
  text-align: left;
  margin-left: 43px;

}
.newRe{
  margin-top: 30px;
}
.right-p{
  margin-top: 33px;
}
.right-p2{
  margin-top: 13px;
}
.sendto{
  margin-top: 35px;
}
.sendto2{
  margin-top: 22px;
}
.sendto p:nth-child(3){
  margin-top: 20px;
}
.sendto p:nth-child(3) span{
  color: #32eece;
}
/* page-career end */

/*---page timeline begin---*/
.page-timeline .wrap{
  height: 100%;
  background:url(../img/Moon.png) center bottom no-repeat;
  background-size: 100% 170px;
}
.timecontainer{
  width: 1233px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: url(../img/Stars.png) no-repeat;
  background-size: contain;
}
#timeaxis{
  position: relative;
  width: 2074px;
  height: 220px;
  margin-left: 227px;
}
.timecontainer>.headline{
  width: 147px;
  height: 24px;
  font-family: Arial-MT;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  line-height: 0.67;
  color: white;
  margin: 98px auto 79px;
}
.timeaxis-bg1{
  width: 110px;
  height: 92px;
  background: url(../img/Bubble2.png) no-repeat;
  background-size: 110px 92px;
}
.timeaxis-bg2{
  width: 200px;
  height: 92px;
  background: url(../img/Bubble3.png) no-repeat;
  background-size: 200px 92px;
}
.timeaxis-bg3{
  width: 250px;
  height: 92px;
  background: url(../img/Bubble3.png) no-repeat;
  background-size: 250px 92px;
}
.timeaxis-bg4{
  width: 110px;
  height: 92px;
  padding: 15px;
  background: url(../img/Bubble1.png) no-repeat;
  background-size: 110px 92px;
}
.timeaxis-bg4>div>p{
  width: 94px;
}
.timeaxis-bgfigure1{
  width: 45px;
  height: 55px;
  background: url(../img/staff1.png) no-repeat;
  background-size:45px 55px ;
}
.timeaxis-bgfigure2{
  width: 45px;
  height: 55px;
  background: url(../img/staff2.png) no-repeat;
  background-size: 45px 55px;
}
/*--timeaxis-top begin--*/
.timeaxis-top{
  width: 2100px;
  height: 105px;
}
.timeaxis-top ul li>div{
  position: absolute;
}
.timeaxis-bg2 div{
  display: inline-block;
  text-align: left;
  width: 91px;
  padding: 4px;
  font-family: Calibre;
  font-size: 10px;
}
.timeaxis-bg1 div img,
.timeaxis-bg2 div img,
.timeaxis-bg3 div img,
.timeaxis-bg4 div img{
  height: 33px;
}
.timeaxis-bg1 div{
  width: 104px;
  text-align: left;
  font-family: Calibre;
  font-size: 10px;
  padding: 4px 0px 4px 9px;
}
.timeaxis-bg4 div{
  width: 84px;
  font-family: Calibre;
  font-size: 10px;
  text-align: left;
  color: #ffffff;
}
.timeaxis-bgfigure1 div{
  width: 160px;
}
.timeaxis-bgfigure1 div img{
  width: 40px;
  position: absolute;
  left: 3px;
  top: 2px;
}

.schedule{
  left: 8px;
  top: 73px;
  font-family: Calibre;
  font-size: 12px;
  text-align: left;
}
.timeaxis-info-1{
  left: 166px;
}
.timeaxis-info-2{
  left:375px ;
}
.timeaxis-info-3{
  left:498px;
  top: 38px;
}
.timeaxis-info-4{
  left: 647px;
}
.timeaxis-info-5{
  left: 861px;
}
.timeaxis-info-6{
  left: 1079px;
}
.timeaxis-info-7{
  left: 1202px;
}
.timeaxis-info-8{
  left: 1324px;
}
.timeaxis-info-9{
  left: 1586px;
  top: 38px;
}
.timeaxis-info-10{
  left: 1723px;
  top: 38px;
}
.timeaxis-info-11{
  left: 1858px;
  top: 24px;
}
.timeaxis-info-12{
  left: 1971px;
  top: 24px;
}
/*--timeaxis-middle begin--*/
.future{
  width: 143px;
  font-family: Calibre;
  font-size: 14px;
  color: #ffffff;
}
.future span{
  font-family: Calibre;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
}
.timeaxis-middle{
  width: 2065px;
  height: 2px;
  background: #ffffff;
  position: relative;
  margin: 0 auto;
}
.timeaxis-middle ul li{
  position: absolute;
}
.timeaxis-middle ul li:first-of-type{
  left: -175px;
  top: -44px;
}
.timeaxis-middle ul li:first-of-type p{
  text-align: right;
}
.timeaxis-middle ul li:nth-child(2){
  left: -16px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(3){
  left: 34px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(4){
  left: 115px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(5){
  left: 173px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(6){
  left: 243px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(7){
  left: 375px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(8){
  left: 510px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(9){
  left: 578px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(10){
  left: 655px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(11){
  left: 698px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(12){
  left: 861px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(13){
  left: 905px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(14){
  left: 1015px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(15){
  left: 1078px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(16){
  left: 1141px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(17){
  left: 1201px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(18){
  left: 1268px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(19){
  left: 1336px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(20){
  left: 1398px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(21){
  left: 1530px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(22){
  left: 1597px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(23){
  left: 1654px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(24){
  left: 1734px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(25){
  left: 1875px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(26){
  left: 1988px;
  top: -8px;
}
.timeaxis-middle ul li:nth-child(27){
  left: 2045px;
  top: -8px;
}
.timeaxis-middle ul li:last-of-type{
  left: 2074px;
  top: -44px;
}
.timeaxis-middle ul li:last-of-type p{
  text-align: left;
}

.timeaxis-middle ul li:first-of-type>img,{
  width: 20px;
}
.timeaxis-middle ul li img{
  width: 14px;
}
.timeaxis-middle .dotbig{
  width: 20px;
}
/*--timeaxis bottom begin--*/
.timeaxis-bgfigure2 div{
  width: 160px;
  position: relative;
}
.timeaxis-bgfigure2 div p,
.timeaxis-info-b12,
.timeaxis-info-b13{
  width: 85px;
  height: 20px;
  font-family: Calibre;
  font-size: 10px;
  text-align: left;
  position: relative;
  bottom: -65px;
}
.timeaxis-bgfigure2 div img{
  width: 40px;
  position: absolute;
  left: 3px;
  top: 14px;
}
.timeaxis-bgfigure1 div p{
  text-align: left;
  margin-left: 50px;
  font-family: Calibre;
  font-size: 10px;
  text-align: left;
}
.timeaxis-bgfigure3{
  height: 68px;
  background: url(../img/staffbos.png) no-repeat;
  background-size: 55px 68px;
}
.timeaxis-bgfigure3 div img:first-of-type{
  width: 50px;
  position: relative;
  left: 3px;
  bottom: -2px;
}
.timeaxis-bgfigure3 div img:last-of-type{
  width: 40px;
  position: relative;
  left: 8px;
  bottom: 8px;
}
.timeaxis-bg3 div{
  display: inline-block;
  text-align: left;
  width: 116px;
  padding: 4px;
  font-family: Calibre;
  font-size: 10px;
}
/*time-bottom begin*/
.timeaxis-bottom{
  width: 2100px;
  height: 105px;
}
.today{
  width: 36px;
  height: 14px;
  font-family: Calibre;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 24px;
  top: 116px;
}
.timeaxis-bottom ul>li>div{
  position: absolute;
}
.timeaxis-info-b1{
  left: 108px;
  top: 118px;
}
.b2-divider1{
  width: 42px;
  border: dashed 1px #32eece;
  left: 278px;
  top: 150px;
}
.b2-divider2{
  width: 42px;
  border:solid 1px #32eece;
  left: 368px;
  top: 150px;
}
.b2-1{
  left: 232px;
  top: 118px;
}
.b2-2{
  left: 322px;
  top: 130px;
}

.b2-3{
  left: 412px;
  top: 130px;
}
.b2-2 p,
.b2-3 p{
position: relative;
left: -40px;
top: 53px;
}
.timeaxis-info-b3{
  left: 571px;
  top: 118px;
}
.timeaxis-info-b9>div>p,
.timeaxis-info-b11>div>p{
  position: absolute;
  left: 50px;
  bottom: -30px;
}
.timeaxis-info-b4{
  left: 691px;
  top: 118px;
}
.timeaxis-info-b5{
  left: 894px;
  top: 118px;
}
.timeaxis-info-b6{
  left: 1007px;
  top: 118px;
}
.timeaxis-info-b7{
  left: 1134px;
  top: 118px;
}
.timeaxis-info-b8{
  left: 1261px;
  top: 118px;
}
.timeaxis-info-b9{
  left: 1386px;
  top: 118px;
}
.timeaxis-info-b10{
  left: 1523px;
  top: 118px;
}
.timeaxis-info-b11{
  left: 1643px;
  top: 120px;
}
.timeaxis-info-b12{
  left: 1859px;
  top: 120px;
}
.timeaxis-info-b13{
  left: 1974px;
  top: 120px;
}
#scrollbar{
  width: 200px;
  height: 6px;
  margin: 0 auto;
  margin-top: 22px;
}
#scrollbar a{
  display: block;
  width: 100px;
  height: 6px;
}
#scrollbar a:first-of-type{
  float: left;
  border-top-left-radius:4.5px;
  border-bottom-left-radius:4.5px;
}
#scrollbar a:first-of-type:hover{
  opacity: .5;
}
#scrollbar a:last-of-type{
  float: right;
  border-bottom-right-radius:4.5px;
  border-top-right-radius:4.5px;
}
#scrollbar a:last-of-type:hover{
  opacity: .5;
}
.scrollcolor1{
  background: #32eece;
}
.scrollcolor2{
  background:#ffffff;
}
/*---page timeline end---*/
/*---page blog begin---*/
.blog-container{
  height: 100%;
  margin-top: 51px;
  background: white;
  padding-top: 15px;
  padding-bottom: 25px;
}
.blog-head{
  padding-top: 10px;
  margin-bottom: 20px;
}
.blog-head h1{
  width: 718px;
  font-family: Arial-MT;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #23c4af;
  margin: 28px auto;
}
.blog-head p{
  font-family: Arial-MT;
  font-size: 24px;
  font-style: italic;
  line-height: 1;
  text-align: center;
  color: #4a4a4a;
}
.blog-head img{
  width: 100px;
}
.blog-head p:last-child{
  width: 346px;
  height: 40px;
  font-family: ArialMT;
  line-height: 22px;
  text-align: center;
  font-size: 18px;
  color: #9b9b9b;
  margin: 10px auto;
}
.blog-head span:first-child{
  font-family: Arial-MT;
  font-weight: bold;
}
.blog-head span:last-child{
  font-family: Arial-MT;
  font-weight: bold;
  color: #23c4af;
}

.blog-content p{
  width: 1120px;
  height: 81px;
  font-family: ArialMT;
  font-size: 24px;
  text-align: justify;
  color: #9b9b9b;
  margin: 0 auto;
  margin-bottom: 26px;
}
.readMore{
  display: inline-block;
  height: 20px;
  font-family: Arial-MT;
  font-size: 18px;
  font-weight: bold;
  color: #23c4af;
}
.readMore:hover{
  opacity: .5;
}
/*--blog-details begin--*/

.blog-details{
  background: white;
}
.blog1-wrap{
  padding-top: 95px;
}
.blog2-wrap{
  padding-top: 95px;
}
.blog3-wrap{
  padding-top: 60px;
}
.detail-1{
  height: 500px;
}
.detail-2{
  height: 1600px;
}
.detail-3{
  height: 500px;
}
.details-title{
  width: 1055px;
  margin: 0px auto;
  text-align: left;
}
.details-title span a{
  font-size: 50px;
  vertical-align: 55%;
  color: #23c4af;
  margin-right: 25px;
}
.details-title span a:hover{
  opacity: .5;
}
.details-title h1{
  display: inline-block;
  width: 730px;
  font-family: Arial;
  font-size: 33px;
  font-weight: bold;
  color: #23c4af;
  text-align: left;
}
.blog3-wrap>.details-title>h1{
  height: 85px;
}
.time-des{
  width: 900px;
  text-align: left;
  padding-top: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.time-des img:hover{
  opacity: .5;
}
.time-des img{
  width: 60px;
  display: inline-block;
  margin-right: 16px;
  vertical-align: top;
}
.time-des p{
  display: inline-block;
  width: 418px;
  font-family: Arial;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #9b9b9b;
}
.time-des p span{
  font-weight: bold;
}
.time-des p span:first-of-type{
  color: #4a4a4a;
}
.blog-details article{
  width: 900px;
  margin: 0 auto;
}
.subtitle-1{
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
  text-align: left;
  margin:20px 0;
}
.blog-details article p{
  font-family: Arial;
  font-size: 18px;
  line-height: 1.39;
  text-align: justify;
  color: #9b9b9b;
}
/*--personal-blog begin--*/
.blog2-wrap{
  padding-top: 55px;
}
.blog2-wrap>.details-title>span>a{
  vertical-align: initial;
}

.blog2-wrap .figure-des>img{
  margin: 30px auto 15px auto;
}
.personal-blog-divider{
  width: 1213px;
  height: 3px;
  background: #979797;
  margin: 30px auto 10px auto;
}
.subtitle-2{
  height: 41px;
  font-family: Arial;
  font-size: 33px;
  font-weight: bold;
  text-align: left;
  color: #23c4af;
}
.blog2-wrap .time-des p{
  padding-left: 30px;
}
.blog2-wrap article>span{
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}
/*---page blog end---*/

/*---page parters begin---*/
.page-parters h1{
  width: 375px;
  height: 24px;
  font-family: Arial-MT;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 70px;
  color: white;
}
.page-parters .parters-list{
  margin: 0 auto;
}
.parters-list>a:hover{
  opacity: .5;
}
.parters-list>a{
  transition: all .3s;
}
.page-parters .parters-list>a>img{
  width: 160px;
  margin-right: 43px;
  margin-bottom: 40px;
}
.page-parters .parters-list>a:nth-child(2)>img{
  width: 240px;
  padding-bottom: 12px;
}
/*--page parters end--*/


/*--page-staffs begin--*/
.staff{
  margin-top: 30px;
  background: white;
  padding-top: 44px;
}
.page-staffs h1{
  width: 233px;
  height: 16px;
  font-family: Arial-MT;
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  line-height: 0.5;
  text-align: left;
  color: #32eece;
  margin-top: 85px;
  margin-left: 64px;
}
.staff-list{
  width: 1440px;
  height: 462px;
  padding-left: 54px;
  margin: 0 auto;/*
  margin-top: 149px;*/
}
.staff-list>li{
  float: left;
  position: relative;
}
.staff-list .staff-divider{
  width: 3px;
  height: 400px;
  background: #4a4a4a;
  position: absolute;
  left: 267px;
  bottom: 41px;
}
.staff-des>li{
  width: 331px;
  height: 125px;
  margin-bottom: 20px;
}
.staff-des>li img:hover{
  opacity: .7;
}
.staff-des li img{
  float: left;
  width: 100px;
}
.staff-list div{
  margin-left: 13px;
  width: 215px;
  height: 100px;
  text-align: left;
  float: left;
  margin-top: -7px;
}
.staff-des div p:nth-child(1){
  width: 150px;
  height: 20px;
  font-family: Arial-MT;
  font-weight: bold;
  font-size: 18px;
  color: #4a4a4a;
}
.staff-des div p:nth-child(2){
  width: 90px;
  font-family: Arial-MT;
  font-weight: bold;
  font-size: 12px;
  color: #23c4af;
}
.staff-des div p:nth-child(3){
  width: 150px;
  font-family: ArialMT;
  font-size: 10px;
  color: #9b9b9b;
  margin-bottom: 10px;
}
.staff-des div p:nth-child(4){
  width: 135px;
  font-family: ArialMT;
  font-size: 9px;
  color: #9b9b9b;
}
/*--profile begin--*/
.profile-content{
  height: 500px;
  background: white;
}
.profile h1{
  width: 561px;
  height: 40px;
  font-family: Arial;
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  line-height: 0.5;
  text-align: left;
  color: #32eece;
}
.figure-des>img{
  width: 120px;
  display: inline-block;
  margin: 40px 0 20px 0;
}
.figure-des p{
  font-family: Arial;
}
.figure-des>p:nth-child(2){
  font-size: 33px;
  font-weight: bold;
  color: #4a4a4a;
}
.figure-des>p:nth-child(3){
  font-size: 21px;
  font-weight: bold;
  color: #23c4af;
}
.profile-content>p:nth-child(2){
  font-family: Arial;
  font-size: 18px;
  color: #9b9b9b;
  width: 80%;
  margin: 30px auto;
}
#myBlog{
  display: inline-block;
  width: 112px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #23c4af;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}
#myBlog:hover{
  opacity: .5;
}
.profile-divider{
  width: 1127px;
  height: 3px;
  background: #979797;
  margin: 0 auto;
}
.profile-des{
  width: 1127px;
  margin: 0 auto;
  padding-left: 20px;
}
.profile-des li{
  width: 275px;
  padding-top: 10px;
  float: left;
}
.profile-des li img{
  width: 70px;
  margin-top: 20px;
  display: inline-block;
}
.profile-des p{
  text-align: left;
}
.profile-des li div{
  display: inline-block;
}
/*.profile-des li div p:nth-child(1){
    height: 19px;
    font-size: 15px;
}
.profile-des li div p:nth-child(2){
    font-size: 10px;
}
.profile-des li div p:nth-child(3){
    font-size: 10px;
}
.profile-des li div p:nth-child(4){
    font-size: 9px;
}*/
#allstaff{
  width: 160px;
  height: 33px;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  line-height: 125px;
  color: #4a4a4a;
}
#allstaff:hover{
  opacity: 0.5;
}
/*--profile end--*/
/*--page-staffs end--*/


/*--page contact begin--*/
.page-contact .wrap p:nth-child(1) img{
  width: 44px;
}
.page-contact .wrap p:nth-child(4) img{
  width: 30px;
  margin-top: 42px;
  margin-bottom: 19px;
}
.page-contact .wrap p:nth-child(2){
  width: 374px;
  height: 30px;
  margin: 0 auto;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.25;
}
.page-contact .wrap p:nth-child(5){
  font-size: 24px;
  font-weight: 800;
  margin: 0 auto;
  line-height: 1.25;width: 1051px;
  height: 90px;
  font-family: Muli;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-bottom: -50px;
}
.page-contact .wrap p:nth-child(3) a{
  width: 241px;
  height: 30px;
  margin: 0 auto;
  font-family: Arial;
  font-size: 24px;
  line-height: 1.25;
  color: #32eece;
}
.page-contact .wrap p:nth-child(6){
  width: 1082px;
  height: 90px;
  font-family: Muli;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0px;
  margin: 0 auto;
}
/*page contact end*/





/*----------fullpage end----------*/


/*----------media begin----------*/

@media screen and (min-width: 1600px) {
  .page-about .text-logo {
    width: 550px;
  }
  .page-about .right-text {
    font-size: 20px;
    width: 700px;
    margin-top: 20px;
  }
  .founder-wrap {
    width: 450px;
  }
  .founder img {
    width: 200px;
  }
.product-1-1 {
    width: 724px;
    margin-top: 100px;
  }
.page-contact .wrap img:first-of-type{
    width: 130px;
  }
.page-contact .wrap img:last-of-type{
    width: 80px;
  }
  .page-contact p {
    font-size: 22px;
  }
  .page-product,
  .career-1 article {
    font-size: 20px;
  }
  .product-2-1 {
    width: 845px;
  }
  .product-3-1 {
    width: 959px;
  }
  .product-4-1 {
    width: 918px;
  }

  .product-5-1 {
    width: 719px;
  }

  .product-6-1 {
    width: 596px;
  }

  .product-7-1 {
    width: 788px;
  }

  .product-8-1 {
    width: 856px;
  }

  .product-9-1 {
    width: 788px;
  }
  .product-10-1 {
    width: 778px;
  }
}

@media screen and (max-width: 1200px) {
  .page-about .text-logo {
    width: 350px;
  }
  .page-about .right-text {
    width: 545px;
    font-size: 14px;
    margin-top: 6px;
  }
  .founder-wrap {
    width: 300px;
  }
  .founder img {
    width: 125px;
  }
  .founder p {
    line-height: 1.5;
    font-size: 14px;
  }
  .page-product .left-text,
  .page-product .right-text {
    width: 250px;
    font-size: 15px;
  }
  .img-logo {
    width: 100px;
  }
  .text-logo {
    width: 220px;
  }
  .product-1-1 {
    width: 434px;
    margin-top: 105px;
  }
  .product-1 .right-text{
    margin-top: 65px;
   }
  .product-2-1 {
    width: 550px;
    margin-top: 85px;
  }
  .product-2 .right-text h1{
    white-space: normal;
  }
  .product-3-1 {
    width: 600px;
  }
  .product-3 .right-text{
    margin-top: -20px;
   }

  .product-4-1 {
    width: 585px;
    margin-top: 40px;
  }
  .product-4 .right-text h1{
    white-space: normal;
  }
  .product-5-1 {
    width: 470px;
  }
  .product-6-1 {
    width: 390px;
  }

  .product-7-1 {
    width: 510px;
    margin-top: 80px;
  }

  .product-8-1 {
    width: 555px;
    margin-top: 73px;
  }

  .product-9-1 {
    width: 522px;
  }
  .product-10-1 {
    width: 515px;
  }
  .page-career .left-text{
    width: 450px;
  }
  .page-career .right-text{
    width: 400px;
  }
  .career-1 article {
    width: 888px;
  }
 .career-name>a {
    width: 250px;
  }
  .career-name>a>span {
    font-size: 14px;
  }
  .career-head h2 {
    height: 35px;
    font-size: 37px;
  }
  .career-head p{
    font-size: 28px;
  }
  .page-parters .parters-list>a>img{
    width: 140px;
    margin-right: 40px;
  }
  .blog-head p{
    font-size: 22px;
  }
  .blog-head h1{
    font-size: 29px;
    margin: 22px auto;
  }
  .blog-head img{
    width: 85px;
    margin-bottom: 22px;
  }
  .blog-head p:last-child{
    font-size: 16px;
  }
  .blog-content p{
    font-size: 21px;
    width: 1070px;
  }
  .page-staffs h1{
    height: 17px;
    font-size: 33px;
  }
  .staff-list .staff-divider{
    height: 382px;
    left: 240px;
    bottom: 50px;
  }
  .staff-des>li{
    width: 300px;
    height: 120px;
    margin-left: -10px;
  }
  .staff-des>li>a>img{
    width: 70px;
  }
  .staff-des div{
    margin-top: -16px;
  }
  .staff-des div p:nth-child(1){
    height: 19px;
    font-size: 15px;
  }
  .staff-des div p:nth-child(2){
    font-size: 10px;
  }
  .staff-des div p:nth-child(3){
    font-size: 10px;
    margin-bottom: 4px;
  }
  .page-contact .wrap p:nth-child(1) img{
    width: 35px;
  }
  .page-contact .wrap p:nth-child(4) img{
    width: 28px;
  }
  .page-contact .wrap p:nth-child(2){
    font-size: 22px;
  }
  .page-contact .wrap p:nth-child(3){
    font-size: 20px;
  }
  .page-contact .wrap p:nth-child(6){
    width: 900px;
    font-size: 18px;
  }

}


/*----------media end----------*/


/*----------animation begin----------*/

@keyframes moveUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes shrink1 {
  0% {
    transform: translate3d(50px, -122px, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes shrink2 {
  0% {
    transform: translate3d(21px, -51px, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes fadeInSpread1 {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
  100% {
    transform: translate3d(50px, -122px, 0);
  }
}

@keyframes fadeInSpread2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
  100% {
    transform: translate3d(21px, -51px, 0);
  }
}

@media screen and (min-width: 1600px) {
  @keyframes shrink1 {
    0% {
      transform: translate3d(76px, -162px, 0);
    }
    100% {
      transform: none;
    }
  }
  @keyframes shrink2 {
    0% {
      transform: translate3d(36px, -65px, 0);
    }
    100% {
      transform: none;
    }
  }
  @keyframes fadeInSpread1 {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    50% {
      opacity: 1;
      transform: none;
    }
    100% {
      transform: translate3d(76px, -162px, 0);
    }
  }
  @keyframes fadeInSpread2 {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    50% {
      opacity: 1;
      transform: none;
    }
    100% {
      transform: translate3d(36px, -65px, 0);
    }
  }
}


/*----------animation end----------*/
